<% include header %>
</div>
<div class="col-md-6 mt-4 card">
<form class="card-body" action="/news/add" method="post">
<h3 class="card-title">Add Noticias</h3>
<div class="form-group">
<input name="title" type="text" class="form-control"
placeholder="Nuevo Título">
</div>
<div class="form-group">
<input name="news" type="text" class="form-control"
placeholder="Nuevo Contenido">
</div>
<input type="submit" class="btn btn-primary">
</form>
</div>

<% include footer %>