<%- include header %>

 <div class="jumbotron">
 <h1>Welcome <%= user.user_name %> </h1>
 <p>Hello Dashboard</p>
 <p>
 <a class="btn btn-lg btn-primary" href="/ir" role="button">App view »</a>
 </p>
 </div>
 <%- include footer %>